@media screen and (min-width: 1024px) {header, nav {border-style:solid;}
header {background-color: red; border-width: 1px;}
header h1 {color:white; text-align: center; font-size:300%}
nav {padding: 5px; margin-bottom: 5px; margin-top: 5px; height:1em; line-height:1em; background-color: yellow; border-width: 1px; border-color: white;}
a {float:left; width:10em; text-decoration:none; color:white; background-color:green; border-right: 1px solid white;}
a:hover {background-color: pink;}
article {float:left; width:65%; border-style:solid; padding: 10px; box-shadow: 3px 3px 3px 2px #797979; border-width:1px; background-color: white;}
section {color:white; background-color: blue; border-style:solid; border-width:1px; margin:1px; padding-left: 5px; font-size: 150%;}
article h2 {text-shadow: black 2px 2px 2px;}
table {background-color: cyan; color:black; border-collapse:collapse; border: solid black 3px; width:100%;}
td {text-align: center;}
aside {float:right; width:30%; border-style:solid; padding: 5px;}
img {width:98.9%;}
footer {clear:both; border-style:solid; margin-top: 20px; color:white; background-color: purple; border-width: 1px; padding-left:10px;}}
@media screen and (max-width: 1023px) {header, nav {border-style:solid;}
header {background-color: red; border-width: 1px;}
header h1 {color:white; text-align: center;}
nav {padding: 5px; margin-bottom: 5px; margin-top: 5px; height:3.2em; line-height:1em; background-color: yellow; border-width: 1px; border-color: white;}
a {float:left; text-decoration:none; color:white; background-color:green; border-right: 1px solid white; width:49%; margin:1px;}
a:hover {background-color: pink;}
article {float:center; width:94%; border-style:solid; padding: 10px; border-width:1px;}
section {color:white; background-color: blue; border-style:solid; border-width:1px; margin:1px; padding: 0px 5px;}
article h2 {text-shadow: black 2px 2px 2px; text-align: center}
table {background-color: cyan; color:black; border-collapse:collapse; border: solid black 3px; width:100%}
thead {float:left; width:25%;}
tbody {float:right; width:74%;}
tbody #morning {float:left; width:50%;}
tbody #afternoon {float:right; width:50%}
thead th {display: block; width:100%}
tbody th {display: block;}
tbody td {display: block;}
aside {float:right; width:100%; border-style:solid; padding: 5px;}
img {width:100%; }
aside p {text-align: center; background-color: cyan; color:black; margin:3px 0px 4px;}
footer {clear:both; border-style:solid; margin-top: 20px; color:white; background-color: purple; border-width: 1px; padding-left:10px;}
body {background-color: #333333;}}