@media screen and (min-width: 1024px) {header, nav {border-style:solid;}
header {background-color: red; border-width: 1px;}
header h1 {color:white; text-align: center; font-size:300%}
nav {padding: 5px; margin-bottom: 5px; margin-top: 5px; height:1em; line-height:1em; background-color: yellow; border-width: 1px; border-color: white;}
nav a {float:left; width:10em; text-decoration:none; color:white; background-color:green; border-right: 1px solid white;}
nav a:hover {background-color: pink;}
article {float:left; width:98.5%; border-style:solid; padding: 10px; box-shadow: 3px 3px 3px 2px #797979; border-width:1px; margin:5px;}
section {color:white; background-color: blue; border-style:solid; border-width:1px; margin:1px; padding-left: 5px; font-size: 150%;}
article h2 {text-shadow: black 2px 2px 2px; background-color: deeppink; color:white; padding-left:5px;}
section a {color:yellow;}
footer {clear:both; border-style:solid; margin-top: 20px; color:white; background-color: purple; border-width: 1px; padding-left:10px;}}
@media screen and (max-width: 1023px) {header, nav {border-style:solid;}
header {background-color: red; border-width: 1px;}
header h1 {color:white; text-align: center;}
nav {padding: 5px; margin-bottom: 5px; margin-top: 5px; height:3.2em; line-height:1em; background-color: yellow; border-width: 1px; border-color: white;}
nav a {float:left; text-decoration:none; color:white; background-color:green; border-right: 1px solid white; width:49%; margin:1px;}
nav a:hover {background-color: pink;}
article {float:left; width:98%; border-style:solid; padding:5px; border-width:1px; background-color:white; margin:5px 0px;}
section {color:white; background-color: blue; border-style:solid; border-width:1px; margin:1px; padding-left: 5px}
article h2 {text-shadow: black 2px 2px 2px; text-align: center; background-color: deeppink; color:white;}
section a {color:yellow;}
footer {clear:both; border-style:solid; margin-top: 20px; color:white; background-color: purple; border-width: 1px; padding-left:10px;}
body {background-color: #333333;}}